.section3{
    background-image: url(/assets/img-projetos.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.titulo-diferencial__section3 {
    
    margin-top: 190px;
}


@media(max-width:480px) {
    .section3{
        background-image: none;
    }
}


@media(max-width:1300px) {
    .paragrafo {
        font-size: 30px;
    }
    .titulo-diferencial__section3 {
        font-size: 50px;
        margin-top: 130px;
        margin-bottom: 100px;
    }
}

